In [1]:
# Dependencies
import pandas as pd

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

import gmaps
import gmaps.geojson_geometries
import gmaps.datasets

# Census API Key
from config import api_key
c = Census(api_key, year=2013)

In [2]:
gmaps.geojson_geometries.list_geometries()

dict_keys(['countries', 'countries-high-resolution', 'england-counties', 'us-states', 'us-counties', 'india-states', 'brazil-states'])

In [46]:
gmaps.datasets.list_datasets()

dict_keys(['taxi_rides', 'earthquakes', 'acled_africa', 'acled_africa_by_year', 'london_congestion_zone', 'nuclear_plants', 'starbucks_kfc_uk', 'gini'])

In [3]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "State_Name"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State_Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head()

,State_Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,5.040968
1,Alaska,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,4.572854
2,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,4.882323
3,Arkansas,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,4.132961
4,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,5.758662

In [4]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd.to_csv("census_data_states.csv", encoding="utf-8", index=False)

In [76]:
# Store filepath in a variable
gun_law = "Resources/Gun Law Strictness.xlsx"
gun_school = "Resources/Total School Expenditures by State.xlsx"
gun_mental = "Resources/Mental Health Expenditure by State.xlsx"
gun_raw = "Resources/raw_data.xlsx"
state_geocode = "Resources/us_states_geo_center.xlsx"
gun_violence="Resources/gun-violence-data.csv"

In [77]:
# Read our data file with the pandas library
gun_law_df = pd.read_excel(gun_law)
gun_school_df = pd.read_excel(gun_school)
gun_mental_df = pd.read_excel(gun_mental)
gun_raw_df = pd.read_excel(gun_raw)
state_geo = pd.read_excel(state_geocode)
gun_violence_df = pd.read_csv(gun_violence)

gun_mental_df.head()

,state,tota_expenditure,expenditure_per_capita,per_capita_rank,poverty_per_capita_expenditure,poverty_per_capita_rank
0,Alabama,373100000,78.19,37,327.57,40
1,Alaska,214200700,310.01,3,1785.01,2
2,Arizona,1414300000,221.27,7,827.56,15
3,Arkansas,122468795,42.02,48,169.39,50
4,California,5674396088,152.60,15,645.55,22

In [78]:
gun_violence_df.head()

,incident_id,date,State_Name,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,1/1/2013,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,1/1/2013,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,1/1/2013,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,1/5/2013,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,1/7/2013,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [79]:
grouped_states = gun_violence_df.groupby(["State_Name"])
number_of_incidents = grouped_states.count()
incidents = number_of_incidents["incident_id"]
incidents.head()

State_Name
Alabama        5471
Alaska         1349
Arizona        2328
Arkansas       2842
California    16306
Name: incident_id, dtype: int64

In [80]:
# Find the total number killed by state
sum_of_deaths = grouped_states["n_killed"].sum()
sum_of_deaths.head()

State_Name
Alabama       1880
Alaska         267
Arizona       1094
Arkansas       773
California    5562
Name: n_killed, dtype: int64

In [83]:
# Create a new dataframe
state_summary = pd.DataFrame({"Number of Incidents" : incidents,
                             "Number of Deaths" : sum_of_deaths})
state_summary.head()

            Number of Deaths  Number of Incidents
State_Name
Alabama                 1880                 5471
Alaska                   267                 1349
Arizona                 1094                 2328
Arkansas                 773                 2842
California              5562                16306

In [85]:
# Add state as a column
state_summary["State_Name"] = state_summary.index
state_summary.head()

# Reset index
state_summary = state_summary.reset_index(drop=True)
state_summary.head()

   Number of Deaths  Number of Incidents  State_Name
0              1880                 5471     Alabama
1               267                 1349      Alaska
2              1094                 2328     Arizona
3               773                 2842    Arkansas
4              5562                16306  California

In [89]:
gun_violence_df["year"] = pd.DatetimeIndex(gun_violence_df["date"]).year
gun_violence_df.head()

,incident_id,date,State_Name,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,year
0,461105,1/1/2013,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN,2013
1,460726,1/1/2013,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0,2013
2,478855,1/1/2013,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0,2013
3,478925,1/5/2013,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0,2013
4,478959,1/7/2013,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0,2013

In [90]:
# Look at gun violence over time to show there is a need to study this
# Group dataframe by year

grouped_years = gun_violence_df.groupby(["year"])
incidents_in_years = grouped_years.count()
incidents_years = incidents_in_years["incident_id"]
incidents_years

year
2013      278
2014    51854
2015    53579
2016    58763
2017    61401
2018    13802
Name: incident_id, dtype: int64

In [91]:
# Find the total number killed by year
sum_of_deaths_year = grouped_years["n_killed"].sum()
sum_of_deaths_year

year
2013      317
2014    12557
2015    13484
2016    15066
2017    15511
2018     3533
Name: n_killed, dtype: int64

In [92]:
# Create a new dataframe with years
year_df = pd.DataFrame({
                        "Number of Incidents" : incidents_years,
                        "Number of Deaths": sum_of_deaths_year})
year_df

      Number of Deaths  Number of Incidents
year
2013               317                  278
2014             12557                51854
2015             13484                53579
2016             15066                58763
2017             15511                61401
2018              3533                13802

In [94]:
# Add year as a column
year_df["Year"] = year_df.index
year_df
# Reset index
year_df = year_df.reset_index(drop=True)
year_df

   Number of Deaths  Number of Incidents  Year
0               317                  278  2013
1             12557                51854  2014
2             13484                53579  2015
3             15066                58763  2016
4             15511                61401  2017
5              3533                13802  2018

In [31]:
state_geo.head()

   State_Name                                      Location  lat (N)   lng (W)
0     Alabama        12.1 mi (19.5 km) southwest of Clanton  32.7794  -86.8287
1      Alaska        77.9 mi (125.4 km) northwest of Denali  64.0685  152.2782
2     Arizona  49.7 mi (80.0 km) east-southeast of Prescott  34.2744 -111.6602
3    Arkansas    14.2 mi (22.9 km) northwest of Little Rock  34.8938  -92.4426
4  California            36 mi (58 km) northeast of Madera,  37.1841 -119.4696

In [7]:
gun_law_df.head()

,gun law strengh (rank),state,grade (2017),gun death rate (rank),gun death rate (rank per 100k)
0,1,California,A,43,7.9
1,2,New Jersey,A-,45,5.5
2,3,Connecticut,A-,46,4.6
3,4,Massachusetts,A-,50,3.4
4,5,New York,A-,48,4.4

In [8]:
gun_school_df.head()

        state  total_spending  total_per_pupil
0     Alabama      6826622000             9128
1      Alaska      2646225000            20172
2     Arizona      7205417000             7489
3    Arkansas      4683434000             9694
4  California     66208111000            10467

In [9]:
gun_raw_df.head()

        state  year  lawtotal
0     Alabama  2017        10
1      Alaska  2017         4
2     Arizona  2017        11
3    Arkansas  2017        11
4  California  2017       106

In [10]:
merge1 = gun_raw_df.merge(gun_school_df, how='outer', on='state')
merge1

                   state    year  lawtotal  total_spending  total_per_pupil
0                Alabama  2017.0      10.0      6826622000             9128
1                 Alaska  2017.0       4.0      2646225000            20172
2                Arizona  2017.0      11.0      7205417000             7489
3               Arkansas  2017.0      11.0      4683434000             9694
4             California  2017.0     106.0     66208111000            10467
5               Colorado  2017.0      30.0      8146683000             9245
6            Connecticut  2017.0      89.0      9603117000            18377
7               Delaware  2017.0      40.0      1779087000            14120
8                Florida  2017.0      21.0     24933433000             8881
9                Georgia  2017.0       6.0     16401832000             9427
10                Hawaii  2017.0      78.0      2359203000            12855
11                 Idaho  2017.0       4.0      1902503000             6923
12              Illinois  2017.0      64.0     28584939000            13755
13               Indiana  2017.0      12.0      9797058000             9687
14                  Iowa  2017.0      24.0      5558398000            10944
15                Kansas  2017.0       7.0      4995292000            10040
16              Kentucky  2017.0       7.0      6693668000             9630
17             Louisiana  2017.0      12.0      7291286000            11010
18                 Maine  2017.0      12.0      2426820000            13257
19              Maryland  2017.0      64.0     12430544000            14192
20         Massachusetts  2017.0     100.0     15315796000            15592
21              Michigan  2017.0      21.0     15712267000            11482
22             Minnesota  2017.0      41.0     10085128000            11949
23           Mississippi  2017.0       5.0      4161329000             8456
24              Missouri  2017.0       6.0      9269713000            10147
25               Montana  2017.0       4.0      1602608000            11028
26              Nebraska  2017.0      22.0      3732390000            11946
27                Nevada  2017.0      21.0      3804316000             8615
28         New Hampshire  2017.0       9.0      2711114000            14697
29            New Jersey  2017.0      75.0     26025344000            18235
30            New Mexico  2017.0      10.0      3184539000             9752
31              New York  2017.0      75.0     59209906000            21206
32        North Carolina  2017.0      30.0     12789303000             8687
33          North Dakota  2017.0      13.0      1420265000            13320
34                  Ohio  2017.0      16.0     19867256000            11637
35              Oklahoma  2017.0       9.0      5456487000             8082
36                Oregon  2017.0      35.0      6173205000            10442
37          Pennsylvania  2017.0      36.0     25305395000            14717
38          Rhode Island  2017.0      43.0      2204789000            15179
39        South Carolina  2017.0      12.0      7463268000             9953
40          South Dakota  2017.0       5.0      1205748000             8937
41             Tennessee  2017.0      22.0      8766468000             8726
42                 Texas  2017.0      18.0     44675233000             8861
43                  Utah  2017.0      13.0      3805778000             6575
44               Vermont  2017.0       6.0      1612052000            18039
45              Virginia  2017.0      13.0     14458878000            11237
46            Washington  2017.0      43.0     11566562000            10735
47         West Virginia  2017.0      21.0      3215683000            11359
48             Wisconsin  2017.0      23.0      9928685000            11375
49               Wyoming  2017.0       9.0      1513919000            16055
50  District of Columbia     NaN       NaN       979040000            19396

In [11]:
merge2 = merge1.merge(gun_law_df, how='outer', on='state')
merge2.head()

,state,year,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k)
0,Alabama,2017.0,10.0,6826622000,9128,36.0,F,2.0,21.4
1,Alaska,2017.0,4.0,2646225000,20172,44.0,F,1.0,23.0
2,Arizona,2017.0,11.0,7205417000,7489,47.0,F,16.0,15.2
3,Arkansas,2017.0,11.0,4683434000,9694,39.0,F,9.0,17.7
4,California,2017.0,106.0,66208111000,10467,1.0,A,43.0,7.9

In [12]:
gun_dataframe = merge2.merge(gun_mental_df, how='outer', on='state')

gun_dataframe = gun_dataframe.rename(columns={"state": "State_Name"
                                      })


gun_dataframe.head()

,State_Name,year,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,expenditure_per_capita,per_capita_rank,poverty_per_capita_expenditure,poverty_per_capita_rank
0,Alabama,2017.0,10.0,6826622000,9128,36.0,F,2.0,21.4,373100000,78.19,37,327.57,40
1,Alaska,2017.0,4.0,2646225000,20172,44.0,F,1.0,23.0,214200700,310.01,3,1785.01,2
2,Arizona,2017.0,11.0,7205417000,7489,47.0,F,16.0,15.2,1414300000,221.27,7,827.56,15
3,Arkansas,2017.0,11.0,4683434000,9694,39.0,F,9.0,17.7,122468795,42.02,48,169.39,50
4,California,2017.0,106.0,66208111000,10467,1.0,A,43.0,7.9,5674396088,152.60,15,645.55,22

In [21]:
gundata_census_df = gun_dataframe.merge(census_pd, how='outer', on='State_Name')
gundata_census_df.head()

,State_Name,year,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,...,per_capita_rank,poverty_per_capita_expenditure,poverty_per_capita_rank,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,Alabama,2017.0,10.0,6.826622e+09,9128.0,36.0,F,2.0,21.4,3.731000e+08,...,37.0,327.57,40.0,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,5.040968
1,Alaska,2017.0,4.0,2.646225e+09,20172.0,44.0,F,1.0,23.0,2.142007e+08,...,3.0,1785.01,2.0,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,4.572854
2,Arizona,2017.0,11.0,7.205417e+09,7489.0,47.0,F,16.0,15.2,1.414300e+09,...,7.0,827.56,15.0,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,4.882323
3,Arkansas,2017.0,11.0,4.683434e+09,9694.0,39.0,F,9.0,17.7,1.224688e+08,...,48.0,169.39,50.0,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,4.132961
4,California,2017.0,106.0,6.620811e+10,10467.0,1.0,A,43.0,7.9,5.674396e+09,...,15.0,645.55,22.0,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,5.758662

In [36]:
gun_census = gundata_census_df.merge(state_geo, how='outer', on='State_Name')
gun_census.head()

,State_Name,year,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,...,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,Location,lat (N),lng (W)
0,Alabama,2017.0,10.0,6.826622e+09,9128.0,36.0,F,2.0,21.4,3.731000e+08,...,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,5.040968,12.1 mi (19.5 km) southwest of Clanton,32.7794,-86.8287
1,Alaska,2017.0,4.0,2.646225e+09,20172.0,44.0,F,1.0,23.0,2.142007e+08,...,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,4.572854,77.9 mi (125.4 km) northwest of Denali,64.0685,152.2782
2,Arizona,2017.0,11.0,7.205417e+09,7489.0,47.0,F,16.0,15.2,1.414300e+09,...,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,4.882323,49.7 mi (80.0 km) east-southeast of Prescott,34.2744,-111.6602
3,Arkansas,2017.0,11.0,4.683434e+09,9694.0,39.0,F,9.0,17.7,1.224688e+08,...,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,4.132961,14.2 mi (22.9 km) northwest of Little Rock,34.8938,-92.4426
4,California,2017.0,106.0,6.620811e+10,10467.0,1.0,A,43.0,7.9,5.674396e+09,...,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,5.758662,"36 mi (58 km) northeast of Madera,",37.1841,-119.4696

In [96]:
gun_final = gun_census.merge(state_summary, how='outer', on='State_Name')
gun_final.head()

,State_Name,year,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,...,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,Location,lat (N),lng (W),Number of Deaths,Number of Incidents
0,Alabama,2017.0,10.0,6.826622e+09,9128.0,36.0,F,2.0,21.4,3.731000e+08,...,43253.0,23680.0,870631.0,18.140878,5.040968,12.1 mi (19.5 km) southwest of Clanton,32.7794,-86.8287,1880.0,5471.0
1,Alaska,2017.0,4.0,2.646225e+09,20172.0,44.0,F,1.0,23.0,2.142007e+08,...,70760.0,32651.0,69514.0,9.650487,4.572854,77.9 mi (125.4 km) northwest of Denali,64.0685,152.2782,267.0,1349.0
2,Arizona,2017.0,11.0,7.205417e+09,7489.0,47.0,F,16.0,15.2,1.414300e+09,...,49774.0,25358.0,1131901.0,17.468409,4.882323,49.7 mi (80.0 km) east-southeast of Prescott,34.2744,-111.6602,1094.0,2328.0
3,Arkansas,2017.0,11.0,4.683434e+09,9694.0,39.0,F,9.0,17.7,1.224688e+08,...,40768.0,22170.0,547328.0,18.658682,4.132961,14.2 mi (22.9 km) northwest of Little Rock,34.8938,-92.4426,773.0,2842.0
4,California,2017.0,106.0,6.620811e+10,10467.0,1.0,A,43.0,7.9,5.674396e+09,...,61094.0,29527.0,5885417.0,15.628107,5.758662,"36 mi (58 km) northeast of Madera,",37.1841,-119.4696,5562.0,16306.0

In [97]:
#Remove columns with NaN values 
gun_df = gun_final.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
gun_df.head()

,State_Name,year,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,...,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,Location,lat (N),lng (W),Number of Deaths,Number of Incidents
0,Alabama,2017.0,10.0,6.826622e+09,9128.0,36.0,F,2.0,21.4,3.731000e+08,...,43253.0,23680.0,870631.0,18.140878,5.040968,12.1 mi (19.5 km) southwest of Clanton,32.7794,-86.8287,1880.0,5471.0
1,Alaska,2017.0,4.0,2.646225e+09,20172.0,44.0,F,1.0,23.0,2.142007e+08,...,70760.0,32651.0,69514.0,9.650487,4.572854,77.9 mi (125.4 km) northwest of Denali,64.0685,152.2782,267.0,1349.0
2,Arizona,2017.0,11.0,7.205417e+09,7489.0,47.0,F,16.0,15.2,1.414300e+09,...,49774.0,25358.0,1131901.0,17.468409,4.882323,49.7 mi (80.0 km) east-southeast of Prescott,34.2744,-111.6602,1094.0,2328.0
3,Arkansas,2017.0,11.0,4.683434e+09,9694.0,39.0,F,9.0,17.7,1.224688e+08,...,40768.0,22170.0,547328.0,18.658682,4.132961,14.2 mi (22.9 km) northwest of Little Rock,34.8938,-92.4426,773.0,2842.0
4,California,2017.0,106.0,6.620811e+10,10467.0,1.0,A,43.0,7.9,5.674396e+09,...,61094.0,29527.0,5885417.0,15.628107,5.758662,"36 mi (58 km) northeast of Madera,",37.1841,-119.4696,5562.0,16306.0

In [149]:
#Check all columns names, rename colums, add State_Code
gun_df.columns

Index(['State_Name', 'year', 'lawtotal', 'total_spending', 'total_per_pupil',
       'gun law strengh (rank)', 'grade (2017)', 'gun death rate (rank)',
       'gun death rate (rank per 100k)', 'tota_expenditure',
       'expenditure_per_capita', 'per_capita_rank',
       'poverty_per_capita_expenditure', 'poverty_per_capita_rank',
       'Population', 'Median Age', 'Household Income', 'Per Capita Income',
       'Poverty Count', 'Poverty Rate', 'Unemployment Rate', 'Location',
       'lat (N)', 'lng (W)', 'Number of Deaths', 'Number of Incidents'],
      dtype='object')

In [152]:
# Using .rename(columns={}) in order to rename columns
renamed_gun_df = gun_df.rename(columns={"lawtotal":"Number_of_Laws", "gun death rate (rank)":"Rank_Number_Death", "gun death rate (rank per 100k)": "Rank_Number_Death_per_100k","total_spending":"Education_Investment", "gun law strengh (rank)":"Rank_Law_Strenght", "tota_expenditure":"Mental_Health_Investment"})
renamed_gun_df.columns

Index(['State_Name', 'year', 'Number_of_Laws', 'Education_Investment',
       'total_per_pupil', 'Rank_Law_Strenght', 'grade (2017)',
       'Rank_Number_Death', 'Rank_Number_Death_per_100k',
       'Mental_Health_Investment', 'expenditure_per_capita', 'per_capita_rank',
       'poverty_per_capita_expenditure', 'poverty_per_capita_rank',
       'Population', 'Median Age', 'Household Income', 'Per Capita Income',
       'Poverty Count', 'Poverty Rate', 'Unemployment Rate', 'Location',
       'lat (N)', 'lng (W)', 'Number of Deaths', 'Number of Incidents'],
      dtype='object')

In [163]:
renamed_gun_df['code']='AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
renamed_gun_df.head()

#Save full dataframe to csv
renamed_gun_df.to_csv("Resources\gun_dataframe.csv")

In [170]:
#Create smaller dataframe to use with maps - plotly 
plotly_gun_df = renamed_gun_df[['State_Name', 'code', 'lat (N)', 'lng (W)', 'Number of Deaths', 'Number of Incidents']]
plotly_gun_df

,State_Name,code,lat (N),lng (W),Number of Deaths,Number of Incidents
0,Alabama,AL,32.7794,-86.8287,1880.0,5471.0
1,Alaska,AK,64.0685,152.2782,267.0,1349.0
2,Arizona,AZ,34.2744,-111.6602,1094.0,2328.0
3,Arkansas,AR,34.8938,-92.4426,773.0,2842.0
4,California,CA,37.1841,-119.4696,5562.0,16306.0
5,Colorado,CO,38.9972,-105.5478,796.0,3201.0
6,Connecticut,CT,41.6219,-72.7273,341.0,3067.0
7,Delaware,DE,38.9896,-75.5050,217.0,1685.0
8,Florida,FL,28.6305,-82.4497,3909.0,15029.0
9,Georgia,GA,32.6415,-83.4426,2456.0,8925.0
10,Hawaii,HI,20.2927,-156.3737,63.0,289.0
11,Idaho,ID,44.3509,-114.6130,166.0,661.0
12,Illinois,IL,40.0417,-89.1965,3409.0,17556.0
13,Indiana,IN,39.8942,-86.2816,1608.0,5852.0
14,Iowa,IA,42.0751,-93.4960,273.0,2517.0
15,Kansas,KS,38.4937,-98.3804,542.0,2145.0
16,Kentucky,KY,37.5347,-85.3021,1066.0,4157.0
17,Louisiana,LA,31.0689,-91.9968,2179.0,8103.0
18,Maine,ME,45.3695,-69.2428,112.0,907.0
19,Maryland,MD,39.0550,-76.7909,1691.0,5798.0
20,Massachusetts,MA,42.2596,-71.8083,472.0,5981.0
21,Michigan,MI,44.3467,-85.4102,1588.0,6136.0
22,Minnesota,MN,46.2807,-94.3053,461.0,2408.0
23,Mississippi,MS,32.7364,-89.6678,1176.0,3599.0
24,Missouri,MO,38.3566,-92.4580,2136.0,6631.0
25,Montana,MT,47.0527,-109.6333,154.0,638.0
26,Nebraska,NE,41.5378,-99.7951,225.0,1651.0
27,Nevada,NV,39.3289,-116.6312,799.0,1952.0
28,New Hampshire,NH,43.6805,-71.5811,88.0,964.0
29,New Jersey,NJ,40.1907,-74.6728,1168.0,5387.0
30,New Mexico,NM,34.4071,-106.1126,495.0,1645.0
31,New York,NY,42.9538,-75.5268,1705.0,9712.0
32,North Carolina,NC,35.5557,-79.3877,2225.0,8739.0
33,North Dakota,ND,47.4501,-100.4659,69.0,573.0
34,Ohio,OH,40.2862,-82.7937,2508.0,10244.0
35,Oklahoma,OK,35.5889,-97.4943,941.0,3455.0
36,Oregon,OR,43.9336,-120.5583,446.0,2286.0
37,Pennsylvania,PA,40.8781,-77.7996,2395.0,8929.0
38,Rhode Island,RI,41.6762,-71.5562,63.0,895.0
39,South Carolina,SC,33.9169,-80.8964,1610.0,6939.0
40,South Dakota,SD,44.4443,-100.2263,90.0,544.0
41,Tennessee,TN,35.8580,-86.3505,1824.0,7626.0
42,Texas,TX,31.4757,-99.3312,5046.0,13577.0
43,Utah,UT,39.3055,-111.6703,282.0,1072.0
44,Vermont,VT,44.0687,-72.6658,57.0,472.0
45,Virginia,VA,37.5215,-78.8537,1459.0,5949.0
46,Washington,WA,47.3826,-120.4472,853.0,3434.0
47,West Virginia,WV,38.6409,-80.6227,335.0,1575.0
48,Wisconsin,WI,44.6243,-89.9941,862.0,4787.0
49,Wyoming,WY,42.9957,-107.5512,73.0,494.0

In [161]:
plotly_gun_df.to_csv("Resources\plotly_gun.csv")

In [98]:
gkey = "AIzaSyCx3T_aTGD4fLG_JJh631UKC3Mo5EetFTc"

In [99]:
gmaps.configure(api_key=gkey) # Fill in with your API key

fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

In [178]:
#build a heatmap layer showing the number of deaths per state:

fig = gmaps.figure(map_type='HYBRID', center=(37.7, -97.3),zoom_level=4)


heatmap_layer = gmaps.heatmap_layer(plotly_gun_df[["lat (N)", "lng (W)"]], weights=gun_df["Number of Deaths"], max_intensity=80, point_radius=20)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [185]:
#build a heatmap layer showing the number of deaths per state:

fig = gmaps.figure(center=(37.7, -97.3),zoom_level=4)


heatmap_layer = gmaps.heatmap_layer(plotly_gun_df[["lat (N)", "lng (W)"]], weights=plotly_gun_df["Number of Incidents"], max_intensity=80, point_radius=20)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#plotly api key: KdeHIchH9RtyP6zFr6Fh

In [159]:
import plotly
plotly.tools.set_credentials_file(username='pvirgilio', api_key='KdeHIchH9RtyP6zFr6Fh')

In [160]:
import plotly.plotly as py

In [165]:
plotly_gun_df.columns

Index(['State_Name', 'code', 'lat (N)', 'lng (W)', 'Number of Deaths',
       'Number of Incidents'],
      dtype='object')

In [168]:
df = plotly_gun_df

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['State_Name'] + ' Number of Deaths '+df['Number of Deaths']+' Number of Incidents '+df['Number of Incidents']


data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['Number of Deaths'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of Deaths")
        ) ]

layout = dict(
        title = 'Number of Deaths by Firearm in the U.S.',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~pvirgilio/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [169]:
df = plotly_gun_df

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['State_Name'] + ' Number of Deaths '+df['Number of Deaths']+' Number of Incidents '+df['Number of Incidents']


data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['Number of Incidents'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of Incidents")
        ) ]

layout = dict(
        title = 'Number of Incidents with Firearm in the U.S.',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~pvirgilio/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'