In [7]:
# Dependencies
import pandas as pd

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

import gmaps
import gmaps.geojson_geometries
import gmaps.datasets

# Census API Key
from config import api_key
c = Census(api_key, year=2013)

In [8]:
gmaps.geojson_geometries.list_geometries()

dict_keys(['countries', 'countries-high-resolution', 'england-counties', 'us-states', 'us-counties', 'india-states', 'brazil-states'])

In [9]:
gmaps.datasets.list_datasets()

dict_keys(['taxi_rides', 'earthquakes', 'acled_africa', 'acled_africa_by_year', 'london_congestion_zone', 'nuclear_plants', 'starbucks_kfc_uk', 'gini'])

In [11]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "State_Name"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State_Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head()

,State_Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,5.040968
1,Alaska,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,4.572854
2,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,4.882323
3,Arkansas,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,4.132961
4,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,5.758662

In [12]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd.to_csv("census_data_states.csv", encoding="utf-8", index=False)

In [13]:
# Store filepath in a variable
gun_law = "Resources/Gun Law Strictness.xlsx"
gun_school = "Resources/Total School Expenditures by State.xlsx"
gun_mental = "Resources/Mental Health Expenditure by State.xlsx"
gun_raw = "Resources/raw_data.xlsx"
state_geocode = "Resources/us_states_geo_center.xlsx"
gun_violence="Resources/gun-violence-data.csv"

In [14]:
# Read our data file with the pandas library
gun_law_df = pd.read_excel(gun_law)
gun_school_df = pd.read_excel(gun_school)
gun_mental_df = pd.read_excel(gun_mental)
gun_raw_df = pd.read_excel(gun_raw)
state_geo = pd.read_excel(state_geocode)
gun_violence_df = pd.read_csv(gun_violence)

gun_mental_df.head()

,state,tota_expenditure,expenditure_per_capita,per_capita_rank,poverty_per_capita_expenditure,poverty_per_capita_rank
0,Alabama,373100000,78.19,37,327.57,40
1,Alaska,214200700,310.01,3,1785.01,2
2,Arizona,1414300000,221.27,7,827.56,15
3,Arkansas,122468795,42.02,48,169.39,50
4,California,5674396088,152.60,15,645.55,22

In [16]:
gun_violence_df.head()

,incident_id,date,State_Name,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,1/1/2013,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,1/1/2013,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,1/1/2013,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,1/5/2013,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,1/7/2013,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [186]:
gun_violence_df["year"] = pd.DatetimeIndex(gun_violence_df["date"]).year
gun_violence_df.head()

,incident_id,date,State_Name,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,year
0,461105,1/1/2013,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN,2013
1,460726,1/1/2013,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0,2013
2,478855,1/1/2013,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0,2013
3,478925,1/5/2013,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0,2013
4,478959,1/7/2013,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0,2013

In [187]:
#Keep all data except the ones referent to the 2013 year, since this year has incomplete information. Then, reset index.
gun_violence_df = gun_violence_df[gun_violence_df.year != 2013]
gun_violence_df.head()

,incident_id,date,State_Name,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,year
278,95289,1/1/2014,Michigan,Muskegon,300 block of Monroe Avenue,0,0,http://www.gunviolencearchive.org/incident/95289,http://www.mlive.com/news/muskegon/index.ssf/2...,False,...,0::Adult 18+,0::Female,NaN,NaN,0::Unharmed,0::Victim,http://www.mlive.com/news/muskegon/index.ssf/2...,92.0,34.0,2014
279,92401,1/1/2014,New Jersey,Newark,Central Avenue,0,0,http://www.gunviolencearchive.org/incident/92401,http://www.nj.com/essex/index.ssf/2014/01/newa...,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.nj.com/essex/index.ssf/2014/01/newa...,29.0,29.0,2014
280,92383,1/1/2014,New York,Queens,113th Avenue,1,0,http://www.gunviolencearchive.org/incident/92383,http://www.timesledger.com/stories/2014/2/firs...,False,...,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Julio Mora||1::Sheldon Smith,NaN,0::Killed||1::Unharmed,0::Victim||1::Subject-Suspect,http://www.timesledger.com/stories/2014/2/firs...,33.0,14.0,2014
281,92142,1/1/2014,New York,Brooklyn,St. Johns Place,0,1,http://www.gunviolencearchive.org/incident/92142,http://www.nydailynews.com/new-york/nyc-crime/...,False,...,0::Adult 18+||1::Adult 18+,0::Male||1::Male,NaN,NaN,0::Injured,0::Victim||1::Subject-Suspect,http://www.nydailynews.com/new-york/nyc-crime/...,43.0,20.0,2014
282,95261,1/1/2014,Missouri,Springfield,Beverly Hills and Temple,0,1,http://www.gunviolencearchive.org/incident/95261,http://www.ozarksfirst.com/story/deputies-6-ye...,False,...,0::Child 0-11||1::Teen 12-17,0::Female,NaN,NaN,0::Injured||1::Unharmed,0::Victim||1::Subject-Suspect,http://www.ozarksfirst.com/story/deputies-6-ye...,131.0,30.0,2014

In [188]:
gun_violence_df = gun_violence_df.reset_index(drop=True)
gun_violence_df.head()

,incident_id,date,State_Name,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,year
0,95289,1/1/2014,Michigan,Muskegon,300 block of Monroe Avenue,0,0,http://www.gunviolencearchive.org/incident/95289,http://www.mlive.com/news/muskegon/index.ssf/2...,False,...,0::Adult 18+,0::Female,NaN,NaN,0::Unharmed,0::Victim,http://www.mlive.com/news/muskegon/index.ssf/2...,92.0,34.0,2014
1,92401,1/1/2014,New Jersey,Newark,Central Avenue,0,0,http://www.gunviolencearchive.org/incident/92401,http://www.nj.com/essex/index.ssf/2014/01/newa...,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.nj.com/essex/index.ssf/2014/01/newa...,29.0,29.0,2014
2,92383,1/1/2014,New York,Queens,113th Avenue,1,0,http://www.gunviolencearchive.org/incident/92383,http://www.timesledger.com/stories/2014/2/firs...,False,...,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Julio Mora||1::Sheldon Smith,NaN,0::Killed||1::Unharmed,0::Victim||1::Subject-Suspect,http://www.timesledger.com/stories/2014/2/firs...,33.0,14.0,2014
3,92142,1/1/2014,New York,Brooklyn,St. Johns Place,0,1,http://www.gunviolencearchive.org/incident/92142,http://www.nydailynews.com/new-york/nyc-crime/...,False,...,0::Adult 18+||1::Adult 18+,0::Male||1::Male,NaN,NaN,0::Injured,0::Victim||1::Subject-Suspect,http://www.nydailynews.com/new-york/nyc-crime/...,43.0,20.0,2014
4,95261,1/1/2014,Missouri,Springfield,Beverly Hills and Temple,0,1,http://www.gunviolencearchive.org/incident/95261,http://www.ozarksfirst.com/story/deputies-6-ye...,False,...,0::Child 0-11||1::Teen 12-17,0::Female,NaN,NaN,0::Injured||1::Unharmed,0::Victim||1::Subject-Suspect,http://www.ozarksfirst.com/story/deputies-6-ye...,131.0,30.0,2014

In [189]:
grouped_states = gun_violence_df.groupby(["State_Name"])
number_of_incidents = grouped_states.count()
incidents = number_of_incidents["incident_id"]
incidents.head()

State_Name
Alabama        5469
Alaska         1349
Arizona        2323
Arkansas       2842
California    16267
Name: incident_id, dtype: int64

In [190]:
# Find the total number killed by state
sum_of_deaths = grouped_states["n_killed"].sum()
sum_of_deaths.head()

State_Name
Alabama       1877
Alaska         267
Arizona       1086
Arkansas       773
California    5516
Name: n_killed, dtype: int64

In [191]:
# Create a new dataframe
state_summary = pd.DataFrame({"Number of Incidents" : incidents,
                             "Number of Deaths" : sum_of_deaths
                             })
state_summary.head()

            Number of Deaths  Number of Incidents
State_Name
Alabama                 1877                 5469
Alaska                   267                 1349
Arizona                 1086                 2323
Arkansas                 773                 2842
California              5516                16267

In [192]:
# Add state as a column
state_summary["State_Name"] = state_summary.index
state_summary.head()

# Reset index
state_summary = state_summary.reset_index(drop=True)
state_summary.head()

   Number of Deaths  Number of Incidents  State_Name
0              1877                 5469     Alabama
1               267                 1349      Alaska
2              1086                 2323     Arizona
3               773                 2842    Arkansas
4              5516                16267  California

In [194]:
# Look at gun violence over time to show there is a need to study this
# Group dataframe by year

grouped_years = gun_violence_df.groupby(["year"])
incidents_in_years = grouped_years.count()
incidents_years = incidents_in_years["incident_id"]
incidents_years

year
2014    51854
2015    53579
2016    58763
2017    61401
2018    13802
Name: incident_id, dtype: int64

In [195]:
# Find the total number killed by year
sum_of_deaths_year = grouped_years["n_killed"].sum()
sum_of_deaths_year

year
2014    12557
2015    13484
2016    15066
2017    15511
2018     3533
Name: n_killed, dtype: int64

In [196]:
# Create a new dataframe with years
year_df = pd.DataFrame({
                        "Number of Incidents" : incidents_years,
                        "Number of Deaths": sum_of_deaths_year})
year_df

      Number of Deaths  Number of Incidents
year
2014             12557                51854
2015             13484                53579
2016             15066                58763
2017             15511                61401
2018              3533                13802

In [197]:
# Add year as a column
year_df["Year"] = year_df.index
year_df
# Reset index
year_df = year_df.reset_index(drop=True)
year_df

   Number of Deaths  Number of Incidents  Year
0             12557                51854  2014
1             13484                53579  2015
2             15066                58763  2016
3             15511                61401  2017
4              3533                13802  2018

In [198]:
state_geo.head()

   State_Name                                      Location  lat (N)   lng (W)
0     Alabama        12.1 mi (19.5 km) southwest of Clanton  32.7794  -86.8287
1      Alaska        77.9 mi (125.4 km) northwest of Denali  64.0685  152.2782
2     Arizona  49.7 mi (80.0 km) east-southeast of Prescott  34.2744 -111.6602
3    Arkansas    14.2 mi (22.9 km) northwest of Little Rock  34.8938  -92.4426
4  California            36 mi (58 km) northeast of Madera,  37.1841 -119.4696

In [199]:
gun_law_df.head()

,gun law strengh (rank),state,grade (2017),gun death rate (rank),gun death rate (rank per 100k)
0,1,California,A,43,7.9
1,2,New Jersey,A-,45,5.5
2,3,Connecticut,A-,46,4.6
3,4,Massachusetts,A-,50,3.4
4,5,New York,A-,48,4.4

In [200]:
gun_school_df.head()

        state  total_spending  total_per_pupil
0     Alabama      6826622000             9128
1      Alaska      2646225000            20172
2     Arizona      7205417000             7489
3    Arkansas      4683434000             9694
4  California     66208111000            10467

In [201]:
gun_law_total = gun_raw_df.drop(columns=['year'])
gun_law_total.head()

        state  lawtotal
0     Alabama        10
1      Alaska         4
2     Arizona        11
3    Arkansas        11
4  California       106

In [202]:
#Merge Total Number of Gun Laws per State with Spending in Education per State and per Pupil
merge1 = gun_law_total.merge(gun_school_df, how='outer', on='state')
merge1.head()

        state  lawtotal  total_spending  total_per_pupil
0     Alabama      10.0      6826622000             9128
1      Alaska       4.0      2646225000            20172
2     Arizona      11.0      7205417000             7489
3    Arkansas      11.0      4683434000             9694
4  California     106.0     66208111000            10467

In [203]:
#Add by merging info on gun laws strenght , grade, ranks
merge2 = merge1.merge(gun_law_df, how='outer', on='state')
merge2.head()

,state,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k)
0,Alabama,10.0,6826622000,9128,36.0,F,2.0,21.4
1,Alaska,4.0,2646225000,20172,44.0,F,1.0,23.0
2,Arizona,11.0,7205417000,7489,47.0,F,16.0,15.2
3,Arkansas,11.0,4683434000,9694,39.0,F,9.0,17.7
4,California,106.0,66208111000,10467,1.0,A,43.0,7.9

In [204]:
#add info on mental health spending per state

gun_dataframe = merge2.merge(gun_mental_df, how='outer', on='state')

gun_dataframe = gun_dataframe.rename(columns={"state": "State_Name"
                                      })


gun_dataframe.head()

,State_Name,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,expenditure_per_capita,per_capita_rank,poverty_per_capita_expenditure,poverty_per_capita_rank
0,Alabama,10.0,6826622000,9128,36.0,F,2.0,21.4,373100000,78.19,37,327.57,40
1,Alaska,4.0,2646225000,20172,44.0,F,1.0,23.0,214200700,310.01,3,1785.01,2
2,Arizona,11.0,7205417000,7489,47.0,F,16.0,15.2,1414300000,221.27,7,827.56,15
3,Arkansas,11.0,4683434000,9694,39.0,F,9.0,17.7,122468795,42.02,48,169.39,50
4,California,106.0,66208111000,10467,1.0,A,43.0,7.9,5674396088,152.60,15,645.55,22

In [205]:
#Add Census information
gundata_census_df = gun_dataframe.merge(census_pd, how='outer', on='State_Name')
gundata_census_df.head()

,State_Name,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,expenditure_per_capita,per_capita_rank,poverty_per_capita_expenditure,poverty_per_capita_rank,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,Alabama,10.0,6.826622e+09,9128.0,36.0,F,2.0,21.4,3.731000e+08,78.19,37.0,327.57,40.0,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,5.040968
1,Alaska,4.0,2.646225e+09,20172.0,44.0,F,1.0,23.0,2.142007e+08,310.01,3.0,1785.01,2.0,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,4.572854
2,Arizona,11.0,7.205417e+09,7489.0,47.0,F,16.0,15.2,1.414300e+09,221.27,7.0,827.56,15.0,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,4.882323
3,Arkansas,11.0,4.683434e+09,9694.0,39.0,F,9.0,17.7,1.224688e+08,42.02,48.0,169.39,50.0,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,4.132961
4,California,106.0,6.620811e+10,10467.0,1.0,A,43.0,7.9,5.674396e+09,152.60,15.0,645.55,22.0,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,5.758662

In [206]:
#Add lat and long for each state geo center location 
gun_census = gundata_census_df.merge(state_geo, how='outer', on='State_Name')
gun_census.head()

,State_Name,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,expenditure_per_capita,...,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,Location,lat (N),lng (W)
0,Alabama,10.0,6.826622e+09,9128.0,36.0,F,2.0,21.4,3.731000e+08,78.19,...,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,5.040968,12.1 mi (19.5 km) southwest of Clanton,32.7794,-86.8287
1,Alaska,4.0,2.646225e+09,20172.0,44.0,F,1.0,23.0,2.142007e+08,310.01,...,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,4.572854,77.9 mi (125.4 km) northwest of Denali,64.0685,152.2782
2,Arizona,11.0,7.205417e+09,7489.0,47.0,F,16.0,15.2,1.414300e+09,221.27,...,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,4.882323,49.7 mi (80.0 km) east-southeast of Prescott,34.2744,-111.6602
3,Arkansas,11.0,4.683434e+09,9694.0,39.0,F,9.0,17.7,1.224688e+08,42.02,...,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,4.132961,14.2 mi (22.9 km) northwest of Little Rock,34.8938,-92.4426
4,California,106.0,6.620811e+10,10467.0,1.0,A,43.0,7.9,5.674396e+09,152.60,...,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,5.758662,"36 mi (58 km) northeast of Madera,",37.1841,-119.4696

In [207]:
gun_final = gun_census.merge(state_summary, how='outer', on='State_Name')
gun_final.head()

,State_Name,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,expenditure_per_capita,...,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,Location,lat (N),lng (W),Number of Deaths,Number of Incidents
0,Alabama,10.0,6.826622e+09,9128.0,36.0,F,2.0,21.4,3.731000e+08,78.19,...,43253.0,23680.0,870631.0,18.140878,5.040968,12.1 mi (19.5 km) southwest of Clanton,32.7794,-86.8287,1877.0,5469.0
1,Alaska,4.0,2.646225e+09,20172.0,44.0,F,1.0,23.0,2.142007e+08,310.01,...,70760.0,32651.0,69514.0,9.650487,4.572854,77.9 mi (125.4 km) northwest of Denali,64.0685,152.2782,267.0,1349.0
2,Arizona,11.0,7.205417e+09,7489.0,47.0,F,16.0,15.2,1.414300e+09,221.27,...,49774.0,25358.0,1131901.0,17.468409,4.882323,49.7 mi (80.0 km) east-southeast of Prescott,34.2744,-111.6602,1086.0,2323.0
3,Arkansas,11.0,4.683434e+09,9694.0,39.0,F,9.0,17.7,1.224688e+08,42.02,...,40768.0,22170.0,547328.0,18.658682,4.132961,14.2 mi (22.9 km) northwest of Little Rock,34.8938,-92.4426,773.0,2842.0
4,California,106.0,6.620811e+10,10467.0,1.0,A,43.0,7.9,5.674396e+09,152.60,...,61094.0,29527.0,5885417.0,15.628107,5.758662,"36 mi (58 km) northeast of Madera,",37.1841,-119.4696,5516.0,16267.0

In [208]:
#Remove columns with NaN values 
gun_df = gun_final.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
gun_df.head()

,State_Name,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,expenditure_per_capita,...,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,Location,lat (N),lng (W),Number of Deaths,Number of Incidents
0,Alabama,10.0,6.826622e+09,9128.0,36.0,F,2.0,21.4,3.731000e+08,78.19,...,43253.0,23680.0,870631.0,18.140878,5.040968,12.1 mi (19.5 km) southwest of Clanton,32.7794,-86.8287,1877.0,5469.0
1,Alaska,4.0,2.646225e+09,20172.0,44.0,F,1.0,23.0,2.142007e+08,310.01,...,70760.0,32651.0,69514.0,9.650487,4.572854,77.9 mi (125.4 km) northwest of Denali,64.0685,152.2782,267.0,1349.0
2,Arizona,11.0,7.205417e+09,7489.0,47.0,F,16.0,15.2,1.414300e+09,221.27,...,49774.0,25358.0,1131901.0,17.468409,4.882323,49.7 mi (80.0 km) east-southeast of Prescott,34.2744,-111.6602,1086.0,2323.0
3,Arkansas,11.0,4.683434e+09,9694.0,39.0,F,9.0,17.7,1.224688e+08,42.02,...,40768.0,22170.0,547328.0,18.658682,4.132961,14.2 mi (22.9 km) northwest of Little Rock,34.8938,-92.4426,773.0,2842.0
4,California,106.0,6.620811e+10,10467.0,1.0,A,43.0,7.9,5.674396e+09,152.60,...,61094.0,29527.0,5885417.0,15.628107,5.758662,"36 mi (58 km) northeast of Madera,",37.1841,-119.4696,5516.0,16267.0

In [209]:
#Check all columns names, rename colums, add State_Code
gun_df.columns

Index(['State_Name', 'lawtotal', 'total_spending', 'total_per_pupil',
       'gun law strengh (rank)', 'grade (2017)', 'gun death rate (rank)',
       'gun death rate (rank per 100k)', 'tota_expenditure',
       'expenditure_per_capita', 'per_capita_rank',
       'poverty_per_capita_expenditure', 'poverty_per_capita_rank',
       'Population', 'Median Age', 'Household Income', 'Per Capita Income',
       'Poverty Count', 'Poverty Rate', 'Unemployment Rate', 'Location',
       'lat (N)', 'lng (W)', 'Number of Deaths', 'Number of Incidents'],
      dtype='object')

In [210]:
# Using .rename(columns={}) in order to rename columns
renamed_gun_df = gun_df.rename(columns={"lawtotal":"Number_of_Laws", "gun death rate (rank)":"Rank_Number_Death", "gun death rate (rank per 100k)": "Rank_Number_Death_per_100k","total_spending":"Education_Investment", "gun law strengh (rank)":"Rank_Law_Strenght", "tota_expenditure":"Mental_Health_Investment"})
renamed_gun_df.columns

Index(['State_Name', 'Number_of_Laws', 'Education_Investment',
       'total_per_pupil', 'Rank_Law_Strenght', 'grade (2017)',
       'Rank_Number_Death', 'Rank_Number_Death_per_100k',
       'Mental_Health_Investment', 'expenditure_per_capita', 'per_capita_rank',
       'poverty_per_capita_expenditure', 'poverty_per_capita_rank',
       'Population', 'Median Age', 'Household Income', 'Per Capita Income',
       'Poverty Count', 'Poverty Rate', 'Unemployment Rate', 'Location',
       'lat (N)', 'lng (W)', 'Number of Deaths', 'Number of Incidents'],
      dtype='object')

In [211]:
renamed_gun_df['code']='AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
renamed_gun_df.head()

#Save full dataframe to csv
renamed_gun_df.to_csv("Resources\gun_dataframe.csv")

In [212]:
#Create smaller dataframe to use plot maps. Add Normalized Values to df
plotly_gun_df = renamed_gun_df[['State_Name', 'code', 'lat (N)', 'lng (W)','Population', 'Number of Deaths', 'Number of Incidents']]
plotly_gun_df.head()

,State_Name,code,lat (N),lng (W),Population,Number of Deaths,Number of Incidents
0,Alabama,AL,32.7794,-86.8287,4799277.0,1877.0,5469.0
1,Alaska,AK,64.0685,152.2782,720316.0,267.0,1349.0
2,Arizona,AZ,34.2744,-111.6602,6479703.0,1086.0,2323.0
3,Arkansas,AR,34.8938,-92.4426,2933369.0,773.0,2842.0
4,California,CA,37.1841,-119.4696,37659181.0,5516.0,16267.0

In [213]:
normalized_death = round(plotly_gun_df['Number of Deaths']/plotly_gun_df['Population']*100000,2)
normalized_death.head()

0    39.11
1    37.07
2    16.76
3    26.35
4    14.65
dtype: float64

In [214]:
normalized_incidents = round(plotly_gun_df['Number of Incidents']/plotly_gun_df['Population']*100000,2)
normalized_incidents.head()

0    113.95
1    187.28
2     35.85
3     96.89
4     43.20
dtype: float64

In [215]:
plotly_gun_df["Norm Incidents"] = normalized_incidents
plotly_gun_df["Norm Deaths"] = normalized_death

plotly_gun_df.head()

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,State_Name,code,lat (N),lng (W),Population,Number of Deaths,Number of Incidents,Norm Incidents,Norm Deaths
0,Alabama,AL,32.7794,-86.8287,4799277.0,1877.0,5469.0,113.95,39.11
1,Alaska,AK,64.0685,152.2782,720316.0,267.0,1349.0,187.28,37.07
2,Arizona,AZ,34.2744,-111.6602,6479703.0,1086.0,2323.0,35.85,16.76
3,Arkansas,AR,34.8938,-92.4426,2933369.0,773.0,2842.0,96.89,26.35
4,California,CA,37.1841,-119.4696,37659181.0,5516.0,16267.0,43.20,14.65

In [216]:
plotly_gun_df.to_csv("Resources\plotly_gun.csv")

In [217]:
gkey = "AIzaSyCx3T_aTGD4fLG_JJh631UKC3Mo5EetFTc"

In [218]:
gmaps.configure(api_key=gkey) # Fill in with your API key
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [219]:
#build a heatmap layer showing the number of deaths per state:

fig = gmaps.figure(map_type='HYBRID', center=(37.7, -97.3),zoom_level=4)


heatmap_layer = gmaps.heatmap_layer(plotly_gun_df[["lat (N)", "lng (W)"]], weights=plotly_gun_df["Norm Deaths"], max_intensity=80, point_radius=20)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [220]:
#build a heatmap layer showing the number of deaths per state:

fig = gmaps.figure(center=(37.7, -97.3),zoom_level=4)


heatmap_layer = gmaps.heatmap_layer(plotly_gun_df[["lat (N)", "lng (W)"]], weights=plotly_gun_df["Norm Incidents"], max_intensity=80, point_radius=12)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [221]:
#plotly api key: KdeHIchH9RtyP6zFr6Fh

In [222]:
import plotly
plotly.tools.set_credentials_file(username='pvirgilio', api_key='KdeHIchH9RtyP6zFr6Fh')

In [223]:
import plotly.plotly as py

In [224]:
plotly_gun_df.columns

Index(['State_Name', 'code', 'lat (N)', 'lng (W)', 'Population',
       'Number of Deaths', 'Number of Incidents', 'Norm Incidents',
       'Norm Deaths'],
      dtype='object')

In [225]:
df = plotly_gun_df

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['State_Name'] + ' Number of Deaths '+df['Number of Deaths']+' Normalized Death '+df['Norm Deaths']


data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = True,
        locations = df['code'],
        z = df['Norm Deaths'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "# Lives lost per 100k")
        ) ]

layout = dict(
        title = 'Number of Deaths by Firearm in the U.S. per 100K (2014-2018)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~pvirgilio/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [226]:
df = plotly_gun_df

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['State_Name'] + ' Number of Incidents'+df['Number of Incidents']+' Normalized Incidents' +df['Norm Incidents']



data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['Norm Incidents'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(218, 235, 223)',
                width = 2
            ) ),
        colorbar = dict(
            title = "# Incidents per 100k")
        ) ]

layout = dict(
        title = 'Number of Incidents with Firearm in the U.S. per 100K (2014-2018)',
            geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(188,189,220)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Pati_\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~pvirgilio/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [ ]:
#normalize the maps
#do poor and young states have more violence? map chart / bubble chart
#suicide vs gun laws suicide vs homicide